{% set hash = 'animals_rating_' ~ random() ~ unique_index %}

{% if ((rating is empty) or (rating == 0))  or ((rating_count is empty) or (rating_count == 0)) %}
    <div class="object_rating_show" data-rating="{{ rating }}" data-count="{{ rating_count }}">
        <a href="{{ url }}#object_rating">
            <ul class="object-rating-show-star">
                <li class="fill"><span class="on"></span></li>
                <li><span>&nbsp;&nbsp;{{ "first_rating" | trans({}, "TadckaObjectRatingBundle") }}</span></li>
            </ul>
        </a>
    </div>
{% else %}
    <div class="object_rating_show" data-rating="{{ rating }}" data-count="{{ rating_count }}">
        <a href="{{ url }}#rating">
            {% set check = tadcka_format_object_rating_number(rating/rating_count) %}
            {% set number = rating/rating_count %}
            <ul class="object-rating-show-star">
                {% for i in range(1, 5) %}
                    {%if number > i %}
                        <li class="fill"><span class="on"></span></li>
                    {% else %}
                        <li class="fill"><span></span></li>
                    {% endif %}
                {% endfor %}
                <li><span>&nbsp;({{ rating_count }})</span></li>
            </ul>
        </a>
    </div>
{% endif %}
